@mixin custom-style($font-weight, $font-size, $color, 
$line-height: normal, $letter-spacing: normal) {
          font-weight: $font-weight;
          font-size: $font-size;
          color: $color;
          line-height: $line-height;
          letter-spacing: $letter-spacing;
      }
      
      @mixin custom-style-center($font-weight, $font-size, $color, $line-height: normal, $letter-spacing: normal) {
          @include custom-style($font-weight, $font-size, $color, $line-height, $letter-spacing);
          text-align: center;
      }