$color-neutral-dark: #223263;
$color-neutral-light: #EBF0FF;
$color-shadow:#ccccff;
$color-shadow2:#eddcf6;
$color-shadowtwo: #e6e6ff;
$color-white:#ffffff;
$color-rose: #e6b3ff;
$color-rose2: #f7e6ff;
$color-dark_rose: rgb(91,4,61);
$color-black:rgb(0,0,0);
$color-red:red;

$line-height1: 1.2;
$line-height-l: 150%;

$padding0810: 08px 10px;
$padding1420: 14px 20px;
$padding1050: 10px 50px;

$font-size-7: 5px;
$font-size-8: 8px;
$font-size-10: 10px;
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-ll: 25px;
$font-size-xl:30px;
$font-size-xxl:40px;
$font-size-xxll:60px;
$font-size-xxxl:80px;
$font-size-bs:5em;
$font-size-bss:2em;


$font-weight-l: 700;
$font-weight-v: bold;


$letter-spacing-xxxs: 0.005em;
$letter-spacing-s: 0.5px;

$border-radius-s:4px;
$border-1:1px solid #ccc;
$border-2:1px solid #EBF0FF;


$margin-left-10:10px;;
$margin-left-20:20px;;
$margin-left-35:35px;;
$margin-left-40:40px;;
$margin-left-65:65px;;
$margin-left-150:150px;
$margin-left-400:400px;
$margin-right-150:150px;
$margin-left-250:550px;
$margin-10:10px;
$margin-50:50px;
$margin-top-50:50px;
$margin-top-60:60px;
$margin-top-80:80px;
$margin-top-130:130px;
$margin-top-150:180px;
$margin-top-350:350px;
$margin-top-550:550px;


$width-s:25%;
$width-300:300px;
$width-750:150px;
$height-750:150px;
$pixel-0:0px;
$pixel-5:5px;
$pixel-10:10px;
$pixel-20:20px;
$pixel-30:30px;
$pixel-25:25px;
$pixel-40:40px;
$pixel-60:60px;
$pixel-70:70px;
$pixel-80:80px;
$pixel-100:100px;
$pixel-140:140px;
$pixel-150:150px;
$pixel-200:200px;
$pixel-240:240px;
$pixel-350:350px;
$pixel-600:600px;
$pixel-700:700px;

$text-transorm-uppercase: uppercase;

$visibility-hidden: hidden;



