@import'../../styles/variables';
@import'../../styles/mixins';


.button_whole{
          margin-bottom: $pixel-40;
          display: flex;
          flex-direction: column;
          .button_one{
                    margin-top: 30px;
                    margin-left: 50px;
          }
          .button_two{
            margin-top: 50px;
            margin-left: 50px;
                    
          }
}
table tr th{
          text-transform: uppercase;
}


button{
          font-size: $font-size-m;
          background-color: $color-shadowtwo;
          text-transform: $text-transorm-uppercase;
          border: 0px;
}

.products-table {
          width: 100%;
}

.products-table td {
          display: table-cell;
          text-align: center;

}

.product-image {
          width: 100px;
          height: 100px;
}
.down{
          text-transform: uppercase;
          

          margin-left:922px;
}