@import'../../styles/variables';
@import'../../styles/mixins';



.product{
          border: $border-2;
          border-radius:$border-radius-s;
          display: flex;
          flex-direction: column;
          padding: $pixel-20;
          a{
            img{
              width: 100px;
              height: 100px;
            }
            .title{
              @include custom-style($font-weight-l,
              $font-size-m, $color-neutral-dark, 
              $line-height-l, $letter-spacing-s);
              margin: $pixel-40;
              margin-bottom:10px;
              font-size: $font-size-l;
                }
  
          }
          
          .basket{
            font-size: $font-size-bss;
            margin-left: $margin-left-35;
          }
        


           .price{
           @include custom-style($font-weight-l,
            $font-size-m, $color-neutral-dark, 
             $line-height-l, $letter-spacing-s);
             margin: top 5px;;
            margin-bottom: $pixel-10;
            font-size: $font-size-l;
            margin-left: $margin-left-35;
              }
    }

        @media screen and (max-width: 730px) {
      
         .product--item {
          display: flex;
          flex-direction: column;
         }
          
        }
    
       
       