
<div class="whole">

<div class="holder1">
          <div class="holder1_1">
          
                 
                  <h1>{{data?.mangnetsAndMangeticField?.title}}</h1>
                  <p class="p1">{{data?.mangnetsAndMangeticField?.text}}</p><br><br><br>
                  
                    <h1>{{data?.magneticFieldMeasurementUnit?.title}}</h1>
                    <p class="p1"> {{data?.magneticFieldMeasurementUnit?.text}} </p>
          </div>
          <div class="holder1_2">
              <img src="../../assets/pictures/magnet1.jpg" alt="Magnetic field" width="330" height="300"><br><br>
              <p><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Magnetic field</b></p>
          </div>
      </div>
      
      <div class="holder2">
          <div class="holder2_1">
          <h1>{{data?.theStrenghtOfEarthMangeticField?.title}}</h1>
          <p class="p1">{{data?.theStrenghtOfEarthMangeticField?.text}}</p>
          <h1>{{data?.theMagicCirclesOfNajdan?.title}}</h1>
          <p class="p1">{{data?.theMagicCirclesOfNajdan?.text}}</p>
  
            
  
                  
                    
          </div>
          <div class="holder2_2">
              <img src="../../assets/pictures/magnet2.jpg" alt="The Magic of Najdan" width="330" height="300"><br><br>
              <p><b>The Magic Circles of Najdan</b></p>
          </div>
          
      </div>
    </div>